html{
    background-color:#fffaf3;
}

form{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    max-height: fit-content;
    text-align: center;
    background: linear-gradient(
        137.09deg,
        #dfe5ffbc 2.19%,
        #a8a6e9c0 51.57%,
        #8685bcb1 97.86%
    );
}

form label{
    margin: 2vh;
}
form input, form select, form option, select, button, textarea{
    border-radius: 10px;
    margin: 2vh;
}
form, form input, form option, select, form textarea{
    font-size: 16pt;
}
form h2, form, form input, form option, select, button, textarea{
    font-family: "Mac";
    letter-spacing: 1px;
    color: #272931;
}

select{
    scrollbar-width: thin;
}
  

@font-face {
    font-family: "Mac";
    src: url("Kanit-Cyrillic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}